{% extends 'base.html.twig' %}
{% block title %}Velvet Record{% endblock %}

{% block body %}
<div class="container">
    <div class="row my-4 align-items-center">
        <h1 class="fw-bold col-md-10">Liste des disques ({{ nbDiscs }})</h1>
        <a href="{{ path('app_add') }}" class="btn btn-outline-light col-md-2">Ajouter un disque</a>
    </div>

    <div class="row g-4">
        {% for disque in disques %}
            <div class="col-12 col-sm-6 col-md-3">  
                <div class="card h-100 text-center border-0 bg-transparent">
                    <a href="{{ path('app_details', {'id': disque.id}) }}">
                        <img src="{{ asset('uploads/jaquettes/' ~ disque.picture) }}"
                         class="card-img-top rounded-3 img-fluid"
                         style="object-fit: cover; aspect-ratio: 1 / 1;"
                         alt="Jaquette {{ disque.title }}">
                    </a>
                    
                    <div class="card-body">
                        <h5 class="card-title mb-1">{{ disque.title }}</h5>
                        <p class="card-text">{{ disque.artist.name }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun disque trouvé.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
