{% extends 'base.html.twig' %}
{% block title %}Formulaire de modification{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="my-5 fw-bold text-center">Formulaire de modification</h1>

    <div class="row justify-content-center align-items-center">
        <!-- Partie gauche : Image -->
        <div class="col-md-6 text-center">
            <img 
                id="preview-image"
                src="{{ form.vars.data.picture ? asset('uploads/jaquettes/' ~ form.vars.data.picture) : asset('uploads/logo/pochette.png') }}" 
                alt="Aperçu"
                class="bg-transparent border-0 img-thumbnail">
        </div>

        <!-- Partie droite : Formulaire -->
        <div class="col-md-6">
            <div class="contact-form p-4 rounded-4 border border-light bg-transparent">
                {{ form_start(form) }}
                    {% for field in form %}
                        {{ form_widget(field, {
                            'label': false,
                            'attr': {
                                'placeholder': field.vars.label,
                                'class': 'form-control mb-3'
                            }
                        }) }}
                    {% endfor %}

                    <div class="d-flex gap-2">
                        <button class="btn btn-light mt-3" type="submit">
                            {{ button_label|default('Enregistrer') }}
                        </button>

                        <form method="post" action="{{ path('app_delete', {'id': form.vars.data.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce disque ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ form.vars.data.id) }}">
                            <button class="btn btn-outline-danger mt-3">Supprimer</button>
                        </form>
                    </div>

                    <a href="{{ path('app_accueil') }}" class="btn btn-primary mt-3">Retour</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<script>
    const fileInput = document.getElementById("{{ form.picture.vars.id }}");
    const preview = document.getElementById("preview-image");

    fileInput.addEventListener("change", function(event) {
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = "block";             
            }
            reader.readAsDataURL(file);
        } else {
            preview.src = "{{ asset('uploads/logo/pochette.png') }}";
        }
    });
</script>
{% endblock %}
